---
# Only the main Sass file needs front matter (the dashes are enough)
---

div.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

iframe.post-thumbnail {
  width: 100%;
  vertical-align: middle;
}

div.fixedratio {
  position: relative;
  left: calc( 50% - 400px );
  width: 800px;
}

div.bgimage {
    max-width: 800px;
    background-image: url(img/bgimage.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 800px;
    background-attachment: fixed;
    width: 800px;
    // display: block;
    height: 300px;
}

@import "minima";
