---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          {% if post.index_title %}
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.index_title | escape }}</a>
          {% else %}
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          {% endif %}
        </h2>

        {% if post.thumbnail %}
        <a class="post-link" href="{{ post.url | relative_url }}">
        <img class="post-thumbnail" src="{{ post.thumbnail | relative_url }}" />
        </a>
        {% endif %}

        {% if post.layout == "presentation" %}
        <a class="post-link" href="{{ post.url | relative_url }}">
        <div class="aspect-ratio">
        <iframe class="post-thumbnail" src="{{ post.url | relative_url }}" allowfullscreen></iframe>
        </div>
        </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
